<mat-toolbar color="primary">
  <mat-icon style="margin: 0% 1%;">code</mat-icon>
  <span>Money prices Graphic</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
  onclick="window.location.href='https://gustavz7.github.io/GuzDev_Portafolio/';"
    mat-icon-button
    class="example-icon"
    aria-label="More Apps button"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
