.chart-container{
    padding: 0 5%;
    height: 400px;
    box-sizing: border-box;
    margin: auto 1%;

}
.chart-title{
    color: black;
    font-size: 140%;
}

@media (max-width: 720px) {
    .chart-container{
    }
}
p{
    color: white;
}